@import url(./converter.css);
@import url(./fonts/);
:root{
    --corFundo:#b1b1b1;
    --corBack:#e7e7e7;
    --corButton:#000000;
    --corHover:#DBAFA0;
    --lightFont:#fafafa;
    --darkFont:#000;
    --inputColor:#E4E0E1;
    --title:Mulish-Medium;
    --text:Mulish-Light;
}

@font-face {
    font-family:Mulish-Medium;
    src: url(fonts/Mulish-Medium.ttf);
}
@font-face {
    font-family:Mulish-Light;
    src: url(fonts/Mulish-Light.ttf);
}
@font-face {
    font-family:Mulish-Bold;
    src: url(fonts/Mulish-Bold.ttf);
}